.textbookNavigation {
  margin: 2rem 0;
  padding: 1rem 0;
  border-top: 1px solid var(--ifm-toc-border-color);
  border-bottom: 1px solid var(--ifm-toc-border-color);
}

.textbookNavigation a {
  text-decoration: none;
}

@media (max-width: 996px) {
  .textbookNavigation .col {
    margin-bottom: 1rem;
  }
}